<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song Rating - Registrierung</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="Check-if-Account">
      <p>Hier Registrieren</p>

      <form class="User-Data" method="POST" action="{{ url_for('register') }}">
        <input
          id="Username"
          class="Username-Input"
          type="text"
          name="Username"
          placeholder="Benutzername"
          required
        />

        <input
          id="email"
          class="email-Input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />

        <input
          id="Password"
          class="Password-Input"
          type="password"
          name="Password"
          placeholder="Passwort"
          required
        />

        <button class="submit" type="submit">Registrieren</button>
      </form>

      <p>
        Bereits ein Konto?
        <a class="login" href="{{ url_for('login') }}">Hier Anmelden</a>
      </p>
    </div>
  </body>
</html>
